body {
  margin: 0;
  font-family: "Sans-serif", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  line-height: 1.5em;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.text-input {
  min-width: 300px;
}

p {
  margin: 0;
}

.recorder-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.recorder-item {
  flex-basis: 50%;
}
.recorder-button {
}

/* squish the 2 cols so that they are not so big and far apart. make them take up a narrow slot in the page. like a mobile view.
also make the button bigger */
